<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Exercice 02 / Server WebSocket</title>
	</head>

	<body>
		app
	

		<canvas id="screen"></canvas>
		<script>
		var socketPort = <%= socketPort %>;
		</script>
		<script src="js/script.js" ></script>

	</body>

</html>